.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  color: $footer-back-color;
}

.web {
  color: $accent-color;
}
